.dashboard-conatiner {
  display: 'flex';
  width: '100vw';
  height: '100vh';
  overflow: 'hidden';
}

.main-content {
  flex: 1;
  display: 'flex';
  justify-content: 'center'; /* Centers horizontally*/
  align-items: 'center'; /* Centers vertically */
  background-color: '#ffffff'; /* Background color for content page */
  padding: '40px';
}
